<div class="commuter-parent-containter">
    <p-toast position="top-right"></p-toast>
    <p-sidebar [(visible)] = "sideMenu" [style]="{width:'15em'}" class="sideBar">
        <div class="p-d-flex p-flex-column p-text-capitalize" id="sideBar">

            <div class="p-col-12 p-md-4" id="avatarContainer">
                <div class="card">
                   
                </div>
                <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
                {{commuter.email}}
            </div>

            <div class="p-col-12" id="buttonContainer">
                <button pButton 
                        type="button" 
                        label="Logout" 
                        icon="pi pi-sign-out"
                        iconPos="left" 
                        class="p-button-text p-text-left"
                        (click) = "logout()"
                        style="width:12rem;"
                        id="logoutButton">
                </button>

            </div>
        </div>
    </p-sidebar>

    <!-- Purchase Ticket Dailog-->
    <p-dialog header="Purchase Ticket" 
              [(visible)]="ticketDialog"
              [style] = "{width: '50vw'}"
              [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
              position="top"
              class="p-text-center p-text-capitalize"
              id="ticket-purchase-dialog">
            <div>
                <p>Origin:              {{ticket.origin}}</p>
                <p>Destination:         {{ticket.destination}}</p>
                <p>Departure Time:  {{ticket.departureTime}}</p>
                <p>Price:               ${{ticket.price}}</p>
            </div>
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-check" (click)="purchaseTicket()" label="Confirm" styleClass="p-button-text"></p-button>
            </ng-template>
    </p-dialog>

     <!-- Purchase Rural  Ticket Dailog-->
     <p-dialog header="Purchase  Rural Ticket" 
     [(visible)]="ruralPurchaseDialog"
     [style] = "{width: '50vw'}"
     [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
     position="top"
     class="p-text-center p-text-capitalize"
     id="ticket-purchase-dialog">
   <div>
       <p>Origin:              {{ticket.origin}}</p>
       <p>Destination:         {{ticket.destination}}</p>
       <p>Departure Time:  {{ticket.departureTime}}</p>
       <p>Price:               ${{ticket.price}}</p>
   </div>
   <div id="phoneNumebrContainer">
        <span>Phone Number</span>
        <p-inputMask mask="+263999999999" [(ngModel)] = "phoneNumber" placeholder="+263771500400"></p-inputMask>
   </div>
   <ng-template pTemplate="footer">
       <p-button icon="pi pi-check" (click)="purchaseRuralTicket()" label="Confirm" styleClass="p-button-text"></p-button>
   </ng-template>
</p-dialog>

    <!-- Boarding Pass QR Code dialog-->
    <p-dialog header="Boarding Passes" 
              [(visible)]="boardingPass"
              [style] = "{width: '50vw'}"
              [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
              position="top"
              class="p-text-center p-text-capitalize"
              id="ticket-display-dialog">
            <div>
                <app-ticket [tickets] = "tickets" ></app-ticket>
            </div>
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-check" (click)="closeBoardingPassList()" label="Close" styleClass="p-button-text"></p-button>
            </ng-template>
    </p-dialog>

    



    

    <div class="p-grid p-fluid  p-jc-between " id="commuter-parent-grid">
        <div class="p-col-12" id="topSide">

            <div class="p-grid p-jc-between" id="top-side-grid">

                <div class="p-col-3" id="sidebar-button" style="width: 120px;">
                    <button pButton
                            type="button"
                            class="p-button-text" 
                            (click) = "sideMenu = true" 
                            icon="pi pi-bars"
                            icoPos = "left"
                            label = "Menu"
                              
                              >
                    </button>
                </div>

                <div class="p-col-3 " id="most-right-menu-item" style="width: 150px;">
                    <button pButton
                            type="button"
                            class="p-button-text" 
                            (click) = "showBoardingPass()" 
                            icon="pi pi-ticket" 
                            iconPos = "left"
                            label = "Passes"
                              
                             >
                    </button>

                </div>

            </div>
        </div>

        
        <p-card  class="p-col-12" styleClass="p-card-shadow" id = "mainCard">
            <p-tabView styleClass="tabview-custom">
                <!-- Local Schedules Tab-->
                <p-tabPanel>
                    <ng-template pTemplate = "header">
                        <i class="pi pi-map"></i>
                        <span style="margin-left: 10px;">Local Routes</span>
                    </ng-template>
                    <app-view-schedule [schedules] = "localSchedules" 
                                        (buyTicket) = "confirmTicketPurchase($event)"
                                        [originStation] = "areas"
                                        [destinationStation] = "areas"
                                        [countries] = "countryList"
                                        (searchSchedule) = "searchLocalSchedules($event)"
                                        (updateSearchOptions) = "setSearchOptions($event)">
                    </app-view-schedule>   
                </p-tabPanel>

                <!-- Intercity Schedule tab-->
                <p-tabPanel>
                    <ng-template pTemplate = "header">
                        <i class="pi pi-map"></i>
                        <span style="margin-left: 10px;">  Intercity Routes</span>
                    </ng-template>

                    <app-view-schedule [schedules] = "intercitySchedules"
                                       (buyTicket) = "confirmTicketPurchase($event)"
                                       [originStation] = "cities"
                                       [destinationStation] ="cities"
                                       [countries] = "countryList"
                                       (searchSchedule) = "searchIntercitySchedules($event)"
                                       (updateSearchOptions) = "setSearchOptions($event)">
                    </app-view-schedule>
                </p-tabPanel>


                <!--Internation Schedule Tab-->
                <p-tabPanel>
                    <ng-template pTemplate = "header">
                        <i class="pi pi-map"></i>
                        <span style="margin-left: 10px;">  International Routes</span>
                    </ng-template>

                    <app-view-schedule [schedules] = "internationalSchedules"
                                       (buyTicket) = "confirmTicketPurchase($event)"
                                       [originStation] = "countryList"
                                       [destinationStation] ="countryList"
                                       [countries] = "countryList"
                                       (searchSchedule) = "searchInternationalSchedules($event)"
                                       (updateSearchOptions) = "setSearchOptions($event)">
                    </app-view-schedule>
                </p-tabPanel>

                <!-- Rural Schedule tab-->
                <p-tabPanel>
                    <ng-template pTemplate = "header">
                        <i class="pi pi-map"></i>
                        <span style="margin-left: 10px;">  Rural Routes</span>
                    </ng-template>

                    <app-view-schedule [schedules] = "ruralSchedules"
                                       (buyTicket) = "confirmRuralTicketPurchase($event)"
                                       [originStation] = "cities"
                                       [destinationStation] = "cities"
                                       [countries] = "countryList"
                                       (searchSchedule) = "searchRuralSchedules($event)"
                                       (updateSearchOptions) = "setSearchOptions($event)">
                    </app-view-schedule>
                </p-tabPanel>

            </p-tabView>
        </p-card>
    </div>
</div>
