<div class="viewFleetParent">
    <p-dataView [value] = "fleets">
        <ng-template pTemplate="header">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </ng-template>

        <ng-template let-fleet pTemplate="listItem" >
            <div class="p-grid" id="listCard">
                <div class="p-col-3" id="icon">
                </div>
        
                <div class="p-col-9" id="infoAndButtons">
                    <div class="p-grid" id="info">
                        <div class="p-col-6 label" id="fleetName">
                            <p class="fleetName">{{fleet.name}}</p>
                        </div>
                        <div class="p-col-6 label" id="serviceProvider">
                            <p class="serviceProvider"></p>
                        </div>
                        <div class="p-col-6 label" id="addVehicleButton">
                            <button pButton 
                                    pRipple 
                                    type="button" 
                                    label="Vehicles" 
                                    (click) = onListCreateVehicle(fleet.id)
                                    class="p-button-text p-button-rounded p-button-sm"
                                    styleClass="p-button-sm"
                                    iconPos ="right"
                                    icon= "pi pi-plus">
                                    <p-badge value="{{fleet.size}}"></p-badge>
                            </button>
        
                        </div>
                        <div class="p-col-6 label" id="moreBotton">
                            <button pButton 
                                    pRipple 
                                    type="button" 
                                    label="More Info" 
                                    class="p-button-outlined p-button-rounded p-button-sm"
                                    styleClass="p-button-sm"
                                    iconPos="right"
                                    icon="pi pi-info-circle">
                            </button>
                        </div>
        
                    </div>
                </div>
        
            </div>

            <p-dialog header = "Create Vehicle"
                      [(visible)] = "createVehicleinList"
                      [style] = "{width: '40vw'}"
                      [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                      position="center">
                <app-create-vehicle [fleetId] = "fleetId"></app-create-vehicle>
            </p-dialog>
        </ng-template>

        <ng-template let-fleet pTemplate = "gridItem">
            <div class="p-col-12   p-md-4 card" id="card">
                <div class="p-grid card ">
                    <div class="p-col-12 imgBox">
                    </div>

                    <div class="p-col-12 glabels" id="gname">
                        <p class="pName">{{fleet.name}} <br/> {{fleet.serviceProvider}}</p>

                    </div>
                    <div class="p-col-6 fleetsButton glabels" id="gbutton">
                        <button pButton 
                                pRipple 
                                type="button" 
                                label="Vehicles" 
                                (click) = "onGridCreateVehicle(fleet.id)"
                                class="p-button-text p-button-rounded p-button-sm"
                                styleClass="p-button-sm"
                                iconPos ="right"
                                icon= "pi pi-plus">
                                <p-badge value="{{fleet.size}}"></p-badge>
                        </button>
                    </div>
                    <div class="p-col-6 moreButton glabels" id="gmore">
                        <button pButton 
                                pRipple 
                                type="button" 
                                label="Info" 
                                class="p-button-text p-button-rounded p-button-sm"
                                styleClass="p-button-sm"
                                iconPos="right"
                                icon="pi pi-info-circle">
                        </button>
                    </div>

                </div>
                

            </div>

            <p-dialog header = "Create Vehicle"
                      [(visible)] = "createVehicleinGrid"
                      [style] = "{width: '40vw'}"
                      [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                      position="center">
                <app-create-vehicle [fleetId] = "fleetId"></app-create-vehicle>
            </p-dialog>

        </ng-template>

    </p-dataView>
    

</div>

