#listCard{
    height: 100px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: azure;

}
#icon{
    width: 100px;
    height: 100px;
    background-image: url(../../../assets/images/icons8-get-on-bus-96.png);
}

#listIcon{
    height: 96px;
    width: 96px;
}


#listInfo{
    height: 150px;
}

.listNames{
    height: 25px;
    text-align: center;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}
.listTime{
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

#buttons{
    height: 50px;
    align-content: center;

}

.price{
    height: 25px;
    text-align: center;
    font-weight: bold;
}

#gridCard{
    height: 300px;
    width: 250px;
    align-content: center;
    margin: 5px;
    border-radius: 5px;
    box-shadow: azure;
}

#gridIcon{
    height: 150px;
    width: 150px;
  
    background-image: url(../../../assets/images/icons8-get-on-bus-96.png);
    background-repeat: no-repeat;

}

#gridInfo{
    height: 110px;
    padding: 0px;

}

.gridNames{
    height: 20px;
    text-align: center;
    font-weight: bolder;
    margin: 0px;

}

.gridTime{
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

