<div class="login-container">

    <p-toast position="top-right"></p-toast>
    <p-card header="Login to your iTravel account"
            [style]="{width:'500px', 'margin':'120px'}"
            styleClass="p-card-shadow"
            class="p-fluid p-grid p-jc-center">

            <ng-template pTemplate = "header" id="header">
               <p class="header">iTravel</p>
            </ng-template>

            <div class="p-col-12 p-fluid" id="form-container">
                <form class="p-grid p-fluid"
                      [formGroup]="loginForm"
                      (ngSubmit) = "login()">
                    
                      <div class="p-col-8" id="data-container">
                          <div class="p-grid p-fluid" id="credentials-container">
                              <div class="p-col-12 " id="email-container">
                                  <span class="p-input-icon-right"> 
                                      <i class="pi pi-envelope"></i>
                                      <input type="text" id="email" pInputText formControlName = "email" placeholder="Email">
                                  </span>
                              </div>

                              <div class="p-col-12" id="password-container">
                                  <span class="p-input-icon-right">
                                      <i class="pi pi-key"></i>
                                      <input type="text" id="password" pInputText formControlName = "password" placeholder="Password">
                                  </span>
                              </div>
                          </div> 
                      </div>

                      <div class="p-col-4 p-as-center" id="button-container">
                        <button pButton pRipple type="submit" 
                                label="Login" 
                                class="p-button-outlined" 
                                icon="pi pi-angle-double-right" 
                                iconPos="right" >
                            </button>
                      </div>
                </form>                
            </div>

            <div class="p-col-6 p-offset-3">
                <button pButton type="button" 
                            label="Create an Account (SignUp)" 
                            class="p-button-link"
                            icon ="pi pi-user-plus"
                            style="width: 270px;"
                            (click) = "signup()">
                 </button>
            </div>

            <div *ngIf = "loading">
                <p-progressBar  mode="indeterminate" [style]="{'height': '6px'}" label = "logging in"></p-progressBar>
                <p>Logging in</p>
            </div>

            
            
    </p-card>
   

</div>