#icon{
    width: 100px;
    height: 100px;
    background-image: url(../../../assets/images/routeIcon1.png);
}

#listCard{
    box-shadow: rgb(198, 205, 235);
    padding: 5px;
    height: 115px;
    width: 700px;
    
}

.names{
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
}
.time{
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

.card{
    height: 250px;
    width: 300px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(230, 230, 247);


}