.names{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-align: center;
    margin: 0px;
    
}

.token{
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    text-align: center;
    background-color: rgb(187, 188, 190);
    margin: 0px;
}

.time{
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin: 0px;
}