<div id="ticket-containter">


    

    <p-dataView [value]="tickets">

        

        <ng-template pTemplate = "header">
            <div class="p-d-flex p-jc-between">
                <div class="p-mr-2">
                    <input type="seatch" placeholder="Search By Destination" pInputText
                    [style]= "{'min-width':'10em'}">

                </div>

                <div class="p-mr-2">
                    <p-dropdown [options]="sortOptions"  placeholder="Sort By"
                                [style]="{'min-width':'10em'}"></p-dropdown>
                </div>

                <div>
                    <p-dataViewLayoutOptions ></p-dataViewLayoutOptions>
                </div>
            </div>

        </ng-template>

        <ng-template let-ticket pTemplate="gridItem" class="p-text-capitalize p-text-center">


            <p-dialog header="Scan Boarding Pass"
                      [(visible)]="qrcode"
                      [style] = "{width: '50vw'}"
                      [breakpoints] = "{'960px': '75vw', '640px': '100vw'}"
                      position = "center"
                      class="p-text-center p-text-capitalize"
                      id="barcode-dialog">
                   
                    <qr-code [value]="dataToString" [size]= "size" ></qr-code>
            </p-dialog>

            <div class="p-col-12 p-md-3">
                <p-card styleClass="p-card-shadow" [style]= "{width:'280px', 'margin-bottom':'5px'}">
                    <ng-template pTemplate = "header" >
                        <div class="p-d-flex p-jc-center" >
                          <div class="p-col-12 p-text-center">
                            <label>Boarding Pass</label>
                          </div>
                        </div>
                    </ng-template>

                    <ng-template pTemplate = "content">
                        <div class="p-grid p-jc-center">
                            <div class="p-col-12 p-text-center p-text-capitalize">
                                {{ticket.origin}}
                            </div>
                            <div class="p-col-12 p-text-center p-text-light" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                <label >to</label>
                            </div>
                            <div>
                                {{ticket.destination}}
                            </div>
                            <div class="p-col-12 p-text-center" id="time">
                                <label>Token: {{ticket.token}}</label>
                            </div> 


                        </div>

                    </ng-template>

                    <ng-template pTemplate = "footer">
                        <div class="p-d-flex p-jc-center">
                            <div class="p-col-8">
                               <button pButton type="button" label="Scan Boarding Pass" icon ="pi pi-ticket" 
                                       class="p-button-outlined" badge ="open" badgeClass = "p-badge-info"
                                        (click) = "showBarcodeDailog(ticket)">
                                </button>
                            </div>

                        </div>
                    </ng-template>

                </p-card>

            </div>

        </ng-template>
        
        <ng-template let-ticket pTemplate="listItem" class="p-text-capitalize p-text-center">

            <p-dialog header="Scan Boarding Pass"
                      [(visible)]="qrcode"
                      [style] = "{width: '50vw'}"
                      [breakpoints] = "{'960px': '75vw', '640px': '100vw'}"
                      position = "center"
                      class="p-text-center p-text-capitalize"
                      id="barcode-dialog">
                      <qr-code [value]="dataToString" [size]= "size" ></qr-code>
            </p-dialog>

            <div class="p-col-12">
                <p-card styleClass="p-card-shadow">
                    <ng-template pTemplate = "header">
                        <div class="p-d-flex p-jc-center p-text-capitalize p-text-center">
                            <div class="p-col-4">
                                <p>Boarding Pass</p>
                            </div>
                         </div>
                    </ng-template>
                    <div class="p-d-flex p-jc-between">
                        <div class="p-text-capitalize p-text-center">
                            <div>
                                {{ticket.origin}} ~~~ {{ticket.destination}}
                            </div>
                            <div>
                                Token: {{ticket.token}}
                            </div>

                        </div>

                        <div>
            
                            <div>
                               <button pButton type="button" label="Scan Boarding Pass" icon ="pi pi-ticket" 
                                       class="p-button-outlined" badge ="open" badgeClass = "p-badge-info"
                                       (click) = "showBarcodeDailog(ticket)"
                                       >
                                </button>
                            </div>
                         </div>


                    </div>



                </p-card>

            </div>
        </ng-template>
    </p-dataView>

</div>